body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.content{
  padding: 100px 50px;
}

header {
  color: black;
  font-size: 2em;
  font-weight: bolder;
}

main {
  display: flex;
  justify-content: space-between;
}

.article-blog {
  padding: 40px;
  margin-bottom: 20px;
  border: 2px solid black; /* Menambahkan border */
  border-radius: 30px; /* Menambahkan border radius pada ujung */
}

.article-blog h2{
  font-size: 2em;
}

.article-blog img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/*============= RIGHT SIDE BAR ARTILEl ================*/
.article-sidebar {
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(175, 175, 175);
  border-radius: 10px; /* Menambahkan border radius pada ujung */
}

.article-sidebar h2{
  cursor: pointer;
}

.right-sidebar {
  flex: 0 0 30%;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 30px;
}

.right-sidebar h1{
  text-align: center;
  margin-bottom: 20px;
}

.right-sidebar .article {
  background-color: #ddd;
  border: none; /* Menghapus border pada artikel di sebelah kanan */
}

.right-sidebar .article h2 {
  color: #333; /* Mengganti warna judul artikel di sebelah kanan */
}

@media screen and (min-width:300px) and (max-width: 480px) {
  .content{
    padding:30px 25px;
  }
  header{
    font-size: 0.7em;
  }
  main {
    flex-direction: column;
  }
  .article-blog {
    padding: 15px;
    border-radius: 15px;
    text-align: center;
  }
  .article-blog p{
    font-size: 0.6em;
    text-align: left;
  }
  .article-blog h2{
    font-size: 1em;
    margin: 3px 0px 20px 0px;
  }
  .article-blog img {
    width: 230px;
    margin-bottom: 5px;
    border-radius: 10px;
  }
  .right-sidebar h1{
    font-size: 1.2em;
    margin: 5px 0px;
  }
  .article-sidebar h2{
    font-size: 0.8em;
    margin: 5px 0px;
  }
  .article-sidebar p{
    margin: 5px 0px;
  }
  .article-sidebar{
    padding: 13px;
    margin-bottom: 10px;
  }
  .article-sidebar p{
    font-size: 0.6em;
  }
  .right-sidebar{
    margin: 0px;
    border-radius: 20px;
  }
  
}

@media screen and (min-width:480px) and (max-width: 575px) {
  .content{
    padding:30px 30px;
  }
  header{
    font-size: 1em;
  }

  .article-blog {
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
  }
  .article-blog p{
    font-size: 0.8em;
    text-align: left;
  }
  .article-blog h2{
    font-size: 1em;
    margin: 3px 0px 15px 0px;
  }
  .article-blog img {
    width: 230px;
    margin-bottom: 5px;
    border-radius: 10px;
  }
  .right-sidebar h1{
    font-size: 1.2em;
    margin: 5px 0px;
  }
  .article-sidebar h2{
    font-size: 0.8em;
    margin: 5px 0px;
  }
  .article-sidebar p{
    margin: 5px 0px;
  }
  .article-sidebar{
    padding: 13px;
    margin-bottom: 10px;
  }
  .article-sidebar p{
    font-size: 0.6em;
  }
  .right-sidebar{
    margin: 0px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 575px) and (max-width: 820px) {
  .content{
    padding:30px 30px;
  }
  header{
    font-size: 1em;
  }

  .article-blog {
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
  }
  .article-blog p{
    font-size: 0.8em;
    text-align: left;
  }
  .article-blog h2{
    font-size: 1.2em;
    margin: 3px 0px 15px 0px;
  }
  .article-blog img {
    width: 300px;
    margin-bottom: 5px;
    border-radius: 10px;
  }
  .right-sidebar h1{
    font-size: 1.2em;
    margin: 5px 0px;
  }
  .article-sidebar h2{
    font-size: 1em;
    margin: 5px 0px;
  }
  .article-sidebar p{
    margin: 5px 0px;
  }
  .article-sidebar{
    padding: 13px;
    margin-bottom: 10px;
  }
  .article-sidebar p{
    font-size: 0.8em;
  }
  .right-sidebar{
    margin: 0px;
    border-radius: 20px;
  }
}

@media screen and (min-width:820px) and (max-width: 1082px) {
  .content{
    padding:30px 30px;
  }
  header{
    font-size: 1.5em;
  }

  .article-blog {
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
  }
  .article-blog p{
    font-size: 0.8em;
    text-align: left;
  }
  .article-blog h2{
    font-size: 1.5em;
    margin: 3px 0px 20px 0px;
  }
  .article-blog img {
    width: 400px;
    margin-bottom: 5px;
    border-radius: 10px;
  }
  .right-sidebar h1{
    font-size: 1.2em;
    margin: 5px 0px;
  }
  .article-sidebar h2{
    font-size: 1em;
    margin: 5px 0px;
  }
  .article-sidebar p{
    margin: 5px 0px;
  }
  .article-sidebar{
    padding: 13px;
    margin-bottom: 10px;
  }
  .article-sidebar p{
    font-size: 0.8em;
  }
  .right-sidebar{
    margin: 0px;
    border-radius: 20px;
  }
}
