.nav-container{
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 3;
   height: 100px;
   background-color: rgba(0, 0, 0, 0.7);
   width: 100vw;
}

.nav-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   padding: 20px 40px;
   width: calc(80%/2);
}

.navbar a{
   text-decoration: none;
   color: white;
   padding: 15px 30px;
   transition: all 0.3s ease;
   font-size: 1em;
}

.navbar a:hover{
   background-color: darkslategray;
   border-radius: 30px;
}

.logo-nav{
   text-align: center;
   padding: 10px;
   height: 100%;
   width: 33.333%;
}

.logo-nav a{
   text-decoration: none;
   color: white;
   font-size: 3em;
   font-weight: bolder;
}

.logo-nav span{
   color: gold;
}

@media screen and (min-width: 575px) and (max-width: 820px) {
   .navbar{
      padding: 0px 15px;
   }
   .logo-nav{
      font-size: 0.7em;
   }
    .navbar a{
      font-size: 0.8em;
      padding: 7px 12px;
    }

    .logo-nav a{
      font-size: 2.5em;
    }
    .nav-container{
      height: 70px;
   }
}

@media screen and (min-width:300px) and (max-width: 480px) {
   .navbar{
      padding: 0px 10px 0px 10px;
   }

   .logo-nav{
      font-size: 0.5em;
   }
    .navbar a{
      font-size: 0.7em;
      padding: 5px 10px;
    }

    .logo-nav a{
      font-size: 2.5em;
    }
    .nav-container{
      height: 60px;
 
   }
}

@media screen and (min-width:480px) and (max-width: 575px) {
   .navbar{
      padding: 0px 20px;
   }
   .logo-nav{
      font-size: 0.8em;
   }
    .navbar a{
      font-size: 0.8em;
      padding: 0px 10px;
    }

    .logo-nav a{
      font-size: 2.5em;
    }
    .nav-container{
      height: 70px;
   }
}

@media screen and (min-width:820px) and (max-width: 1082px) {
   .navbar{
      padding: 0px 20px;
   }
   .logo-nav{
      font-size: 0.8em;
   }
    .navbar a{
      font-size: 0.8em;
      padding: 10px 15px;
    }

    .logo-nav a{
      font-size: 2.5em;
    }
    .nav-container{
      height: 70px;
   }
}
/* ====== Halaman Top 3 ======= */
.menu-kota{
   padding-top: 30px;
}

.menu-kota-wrapper{
   display:flex;
   justify-content: space-around;
   align-items: center;
   margin-bottom: 50px;
   padding: 0px 50px;
}

.menu{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.menu-img{
   width: 150px;
   height: 150px;
   border-radius:100%;
   margin-bottom: 20px;
   object-fit: cover;
   overflow: hidden;
   transition: all 0.3s ease;
}

.menu-img img{
   object-fit: cover;
   width:150px;
   height: 150px;
   transition: all 0.3s ease;
}

.menu-img:hover, .menu-img img:hover{
   width: 175px;
   height: 175px;
}

