*,html,body{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   
}

.content{
   padding: 200px 200px 100px 200px;
}
.container{
   border-radius: 30px;
   box-shadow: 7px 8px 27px 3px rgb(134, 134, 134);
}

nav{
   width: 100%;
   height: 75px;
   display: flex;
   justify-content: end;
   align-items: center;
   padding: 15px 25px;
}
.point a{
   text-decoration: none;
   color: black;
}
.point{
   font-size: 4em;
   font-weight: bolder;
   cursor: pointer;
}

.point:hover{
   color: blue;
}

.point:active{
   color: red;
}

header{
   overflow: hidden;
   width: 100%;
   height:fit-content;
}

.h-img{
   width: 100%;
}

section{
   padding: 50px;
}

.title{
   font-size: 5em;
   font-weight: bolder;
}

.sub-title{
   display: flex;
   align-items:center ;
   padding-top: 30px;
   font-size: 1.5em;
}

.sub-title h1{
   padding-right: 40px;
}

.icon{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 20px;
   padding: 15px 20px;
   border-radius: 40px;
   background-color: rgb(59, 59, 59);
}

.icon img{
   width: 35px;
}

.icon img:not(:last-child){
   margin-right: 30px;
}

.desc{
   padding-top: 50px;
   font-size: 1.3em;
}

.gallery{
   margin-top: 50px;
   max-width: 1200px;
   background-color: rgba(148, 145, 145, 0.534);
   padding: 25px;
   border-radius: 30px;
}

.gallery-wrapper{
   cursor: pointer;
   overflow: hidden;
   white-space: nowrap;
   border-radius: 30px;
}

.gallery-wrapper img{
   height: 280px;
   object-fit: cover;
   margin-left: 14px;
   width: calc(100%/3);
   border-radius: 30px;
}

.gallery-wrapper img:first-child{
   margin-left: 0px;
}
