*, html, body{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Verdana, sans-serif;
}

.white-bg{
    background-color: white;
}

svg{
    position: relative;
    top: 5px;
}

section{
    overflow: hidden;
    position: relative;
    top: -150px;
}

/* ===================== Navbar =========================== */


/* ===================== Header ========================= */

/* CSS untuk mengatur lebar gambar */

.container-header {
    height: 520px;
}

/* Slideshow container */
.content-slide {
    position: relative;
}

.imgslide {
    display: none;
}

.imgslide img {
    vertical-align: middle;
    width:100%;
    height: 600px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: rgb(255, 254, 224);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8); 
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.pre:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.508);
    height: 100%;
    color: #fafafa;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.text a{
    text-decoration: none;
    color: lime;
}
.text-title{ 
    font-size: 3.5em;
    padding: 0.2em 0.3em;
    color: lime;
    cursor: pointer;
    transition: all 0.2s ease;
}

.text-title:hover{
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 30px;
    color: white;
}

.text-title:active{

    color: rgb(255, 0, 0);
}

.rating-header{
    font-size: 2.5em;
    color: black;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    width: 100%;
}

.rating-header span{
    color: gold;
}

.text h3{
    margin-bottom: 20px;
    width: 50%;
}

.text h5{
    width: 50%;

}

.detail{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    color: black;
    border-radius: 20px;
}

.jam-kunjungan{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.content-slide .numberslide {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* resposive */

@media screen and (max-width: 800px) {

    .content-slide {
        padding: 8px 50px 12px 50px;
    }

    .next {
        right: 50px;
        border-radius: 3px 0 0 3px;
    }
    
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }    
    to {
        opacity: 1;
    }
}

.container-header .page {
    text-align: center;
    padding-top: 20px;
}

.page .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
}

.page .active,
.page .dot:hover {
    background-color: #ce0000;
}


/*===================== Menu Kota-kota ====================*/
.menu-kota{
    padding-top: 30px;
}

.menu-kota-wrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    padding: 0px 50px;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu-img{
    width: 150px;
    height: 150px;
    border-radius:100%;
    margin-bottom: 20px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.3s ease;
}

.menu-img img{
    object-fit: cover;
    width:150px;
    height: 150px;
    transition: all 0.3s ease;
}

.menu-img:hover, .menu-img img:hover{
    width: 175px;
    height: 175px;
}

/*====================== Menu Promo =================== */

.promo{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-bottom: 100px;
}

.title-promo{
    position: relative;
    top: 30px;
    background-color: rgb(0, 255, 98);
    padding: 15px 50px;
    border-radius: 60px;
    font-size: large;
}

.content{
    width: 80vw;
    padding-top: 30px;
    height: 80%;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    border-radius: 30px;
}

.content img{
    width: 35vw;
    margin: 0px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.content img:hover{
    width: 37vw;
}

/* =================Halaman no 3 Top ===========================*/
body{
    background-color: black;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 200px;
}

.title-top{
    background-color: rgb(22, 187, 71);
    padding: 20px 60px;
    border-radius: 50px;
    margin-bottom: 30px;
    font-size: larger;
    color: white;
}

.carousel{
    display: flex;
    cursor: pointer;
}

.card{
    height: 300px;
    object-fit: cover;
    margin-left: 14px;
    width: 400px;
    border-radius: 30px;
    overflow: hidden;
}

.card a{
    text-decoration: none;
}
.card:hover{
    .img-top{
        opacity: 0.6;
        transition: all 0.2s ease-in-out;
    }

    .desc{
        background-color: rgba(0, 0, 0, 0.858);
        transition: all 0.2s ease-in-out;
    }
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    
}

.card img{
    width:450px;
    object-fit: cover;
}

.desc{
    position: relative;
    top: -125px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 130px;
    display: flex;
    align-items: center;
    color: white;
}

.title-desc{
    width: 200px;
    border: 2px solid white;
    border-bottom-style: none;
    border-left-style: none;
    border-top-style: none;
    margin-right: 20px;
}

.jam{
    margin: 3px 10px 0px 0px;
    display: flex;
}

.buka{
    margin-right: 15px;
}
.jam p{
    font-size: 9pt;
}

.rate{
    margin-bottom: 10px;
}

.rating{
    color: gold;
}
.icon img{
    width: 20px;
    margin: 5px 5px 0px 0px;
}

/* =============== Footer ================= */
footer{
    display: flex;
    justify-content: center;

    background-color:black;
    padding: 50px;
    color: white;
}
footer h1{
    margin-bottom: 20px;
    font-size: 2em;
}
.about-us,
.contact{
    margin-right: 30px;
    margin-top: 50px;
    padding: 10px;
    height: 100%;
    width: 33.333%;
}
.contact a{
    text-decoration: none;
    color: white;
}
.contact ul{
    list-style: none;
}

.logo{
    padding: 10px;
    height: 100%;
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logonya{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: rgb(85, 81, 81);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
}

.logonya span{
    color: gold;
}
