
.nav-container{
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 3;
   height: 100px;
   background-color: rgba(0, 0, 0, 0.7);
   width: 100%;
}

.nav-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   padding: 20px 40px;
   width: calc(80%/2);
}

.navbar a{
   padding: 10px;
   text-decoration: none;
   color: white;
   padding: 15px 30px;
   transition: all 0.3s ease;
   font-size: 1em;
}

.navbar a:hover{
   background-color: darkslategray;
   border-radius: 30px;
}

.logo-nav{
   text-align: center;
   padding: 10px;
   height: 100%;
   width: 33.333%;
}

.logo-nav a{
   text-decoration: none;
   color: white;
   font-size: 3em;
   font-weight: bolder;
}

.logo-nav span{
   color: gold;
}